<div class="p-grid p-mt-2">
  <div class="p-col-12 p-text-center">

    <div class="my-list">
      <img src="http://hpservicecenterschennai.in/images/hp_laptop_service_centers_in_guindy.png" alt="" />

      <div class="p-grid">
        <div class="p-col-12 p-text-center">
          <h3 class="product-name">{{product?.name}}</h3>
        </div>
      </div>

      <div class="p-grid">
        <div class="p-col-12 p-text-center">
          <span class="product-price">{{product?.price | currency}}</span>
        </div>
      </div>

      <div class="offer">
        Extra 5% Off. Cart value $ {{0.5 * product?.price}}
      </div>
      <div class="offer">
        <p-button icon="pi pi-shopping-cart" label="Add to Cart" (click)="addToCart(product)" [disabled]="product?.inventoryStatus === 'OUTOFSTOCK'"></p-button>
      </div>
    </div>

  </div>
</div>

<div class="p-grid p-mt-2">
  <div class="p-col-12 p-text-center">
    <button pButton type="button" label="Back to List" class="p-button-link" [routerLink]="['/products']"></button>
  </div>
</div>
